@font-face {
    font-family: "Allura";
    src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
}
$font1: Allura, cursive;
$font2: Poppins, serif;
$font3: Roboto, serif;

$white: #eee;
$black: #21201e;
$grey: rgb(182,182,182);
$color1: rgb(166,114,69);

@mixin childCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
//autre type de mixin avec des paramètres
@mixin alignChildren($space){
    display: flex;
    align-items: center;
    justify-content: $space;
}


// Réglages généraux

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; // fait que les boîtes qui sont cote à cote se terminent au même niveau
}

li{
    list-style: none;
}

body{
    //centre tout tes enfants
    text-align: center;
    font-family: $font3;
    background: $black;
}